@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #F0F8FF;
  --font-yekan: 'Yekan', sans-serif;
  --font-yekan-bold: 'Yekan Bold', sans-serif;
}


.font-regular {
  font-family: var(--font-yekan);
  font-weight: 400;
}

.font-bold {
  font-family: var(--font-yekan-bold);
  font-weight: 700;
}
